* {
    margin: 0;
    padding: 0;
}

:root {
    /*botão número 1*/
    --fundoBotaoInicio: #c6c6c6; 
    --fundoBotaoFinal: #03a9f4; 
    --circulo: #fff; 

    /*botão número 2*/
    --preto: #000;
    --branco: #fff;

    /*Botão número 3*/
    --branco2: #ffffff;
    --cinza: #3d3d3d;
    --fundo: #00ffff;

    /*Botão para subir ao topo da página*/
    --silver:#C0C0C0;
    --dimgrey: #696969;
}

.dark-mode1:root { /*Class do root*/
    --fundo: #ffee00;
}
.dark-mode2:root { /*Class do root*/
    --fundo: #ff009d;
}
.dark-mode3:root { /*Class do root*/
    --fundo: #00ff55;
}

body {
    background: var(--fundo);
}

html {
    scroll-behavior: smooth; /*para subir suavemente*/
}

/*Inicio do botão 1*/
.btn_1 {
    /*position: absolute;
    top: 30px;
    right: 400px;*/
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
}

.btn_1 input[type="checkbox"] { /*parte do fundo*/
    position: relative;
    width: 80px;
    height: 40px;
    appearance: none;
    background: var(--fundoBotaoInicio);
    outline: none;
    border-radius: 20px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}

.btn_1 input:checked[type="checkbox"] { /*cor do fundo ao clicar*/
    background: var(--fundoBotaoFinal);

}

.btn_1 input[type="checkbox"]:before { /*circulo*/
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: var(--circulo);
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.btn_1 input:checked[type="checkbox"]:before {
    left: 40px;
}
/*Fim do botão 1*/

/*Inicio do botão 2*/
.btn_2 {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn_2 input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
}

.btn_2 input[type="checkbox"]::before {
    content: "Dark";
    position: absolute;
    color: var(--branco);
    background: var(--preto);
    padding: 10px 20px; 
}

.btn_2 input[type="checkbox"]:checked::before {
    content: "Light";
    color: var(--preto);
    background: var(--branco);
}
/*Fim do botão 2*/

/*Inicio do botão 3*/
.btn_3 {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
}

.btn_3 input[type="checkbox"] {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -webkit-appearance: none; /*isso faz o border-radius funcionar*/
    outline: none;
    background: var(--branco2);
    transition: .6s ease;
    cursor: pointer;
    /*box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
                10px 10px 15px rgba(70, 70, 70, 0.12);*/

}

.btn_3 input[type="checkbox"]:checked {
background: var(--cinza);
/*box-shadow: -100px 1000px 0 1600px red;*/ /*Para quando clicar ir em circulo a cor de fundo*/ 
}

.btn_3 input[type="checkbox"]::after {
    content: "\f185";
    font-family: fontAwesome;
    position: absolute;
    color: var(--cinza);
    top: 11px;
    left: 11px;
    font-size: 17px;
}

.btn_3 input[type="checkbox"]:checked::after {
    content: "\f186";
    font-family: fontAwesome;
    position: absolute;
    color: var(--branco2);
    top: 11px;
    left: 13px;
    font-size: 17px;
}
/*Fim do botão 3*/

/*Inicio do botão para subir ao topo*/
.subir {
    background: var(--branco);
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--cinza);
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.subir.active { 
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}/*Fim do botão para subir ao topo*/

/*Inicio da barra de rolagem*/
::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background-color: var(--silver);
}

::-webkit-scrollbar-thumb {
    background-color: var(--dimgrey);
    border-radius: 50px;
}
/*Fim da barra de rolagem*/